<%= @light_group.name %>


<div>On: <%= @light_group.on? %></div>
<div>Id: <%= @light_group.id %></div>
<div>Bridge: <%= @light_group.bridge %></div>
<div>Name: <%= @light_group.name %></div>
<div>Hue: <%= @light_group.hue %></div>
<div>Saturation: <%= @light_group.saturation %></div>
<div>Brightness: <%= @light_group.brightness %></div>
<div>X: <%= @light_group.x %></div>
<div>Y: <%= @light_group.y %></div>
<div>Color Temperature: <%= @light_group.color_temperature %></div>
<div>Type: <%= @light_group.type %></div>
